<h1>Getting Started</h1>
Dynamic forms is an Angular JS module that allows you to dynamic generate a HTML form based off of standard <a href="http://json-schema.org" target="_blankd">JSON schema</a> complete with support for the following:
<ul>
    <li>Form Validation</li>
    <li>Extensible and customizable template driven design</li>
    <li>Default templates leverage bootstrap, but can be fully customized</li>
</ul>
<h2>Installation</h2>
<h4>Install with bower</h4>
<code>
    $ bower install angular-dynamic-forms
</code>
<h4>Add script reference to your app</h4>
<code>
    &lt;script type=&quot;text/javascript&quot; src=&quot;bower_components/dist/dynamic-forms.js&quot;&gt;&lt;/script&gt;
</code>
<h4>Add Angular Reference</h4>
<code>
    angular.module('myApp', ['dynamic-forms']);
</code>
<h4>
    Add dynamic-form directive to your view
</h4>
<code>
    &lt;dynamic-form schema=&quot;formSchema&quot; ng-model=&quot;formModel&quot;&gt;&lt;/dynamic-form&gt;
</code>
<h3>Basic Example</h3>
<h5>JavaScript</h5>
<pre>
(function () {
    &#39;use strict&#39;;

    angular.module(&#39;app&#39;)
        .controller(&#39;homeController&#39;, [&#39;$scope&#39;, HomeController]);

    function HomeController() {
        var vm = this;

        vm.formSchema = {
            type: &#39;object&#39;,
            title: &#39;Basic Example&#39;,
            description: &#39;Example description for angular dynamic form&#39;,
            properties: {
                firstName: { type: &#39;string&#39;, title: &#39;First Name&#39;, description: &#39;Your first name&#39;, required: true },
                lastName: { type: &#39;string&#39;, title: &#39;Last Name&#39;, description: &#39;Your last name&#39;, required: true },
                email: { type: &#39;string&#39;, format: &#39;email&#39;, title: &#39;E-mail&#39;, description: &#39;Your email address&#39;, required: true }
            }
        };

        vm.formModel = {
            firstName: &#39;John&#39;,
            lastName: &#39;Doe&#39;,
            email: &#39;john.doe@gmail.com&#39;
        };
    }
}());
</pre>
<h5>HTML</h5>
<pre>
&lt;div ng-controller=&quot;demoController as vm&quot;&gt;
    &lt;dynamic-form schema=&quot;home.formSchema&quot; ng-model=&quot;home.formModel&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-success&quot;&gt;Submit&lt;/button&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot;&gt;Cancel&lt;/button&gt;
    &lt;/dynamic-form&gt;
&lt;/div&gt;
</pre>
<h5>Generated Example</h5>
<dynamic-form schema="home.formSchema" ng-model="home.formModel">
    <button type="button" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-danger">Cancel</button>
</dynamic-form>